<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.book.dao.BookDao">
    <insert id="insertBook" parameterType="bookVO" useGeneratedKeys="true" keyProperty="bno">
        insert into book (title, price,stock)
        values (#{title},#{price},#{stock})
    </insert>
    <insert id="insertBook_info" parameterType="bookVO" useGeneratedKeys="true" keyProperty="bno">
        insert into book_info (pubDate,author,description,publisher)
        values (#{pubDate},#{author},#{description},#{publisher})
    </insert>
    <insert id="insertBook_images" parameterType="imageVO" useGeneratedKeys="true" keyProperty="bno">
        insert into book_images (bno,storeFileName,originalFileName,imgCategory,ext,size)
        values (#{bno},#{storeFileName},#{originalFileName},#{imgCategory},#{ext},#{size})
    </insert>
    <select id="selectOne" resultType="bookVO">
        select * from book where bno = ${bno}
    </select>
    <select id="selectBooks" parameterType="pageRequest" resultType="bookVO">
        select * from book order by bno desc limit #{skip} , #{size}
    </select>
    <select id="bookCnt" resultType="int">
        select count(*) from book
    </select>
    <update id="updateBook" parameterType="bookVO">
        update book
        set price =  #{price} ,stock = #{stock} , update_date = now()
        where bno = #{bno}
    </update>
    <delete id="deleteBook">
        delete from book
        where bno = #{bno}
    </delete>

    <insert id="insertCategoryBook">
        insert into category_book
        values (#{bno},#{category_name_id})
    </insert>
    <select id="selectCa_Books_categoryNameId" resultType="int">
        select category_name_id from category_book where bno = #{bno}
    </select>
    <delete id="deleteCategory_book">
        delete from category_book where bno = #{bno}
    </delete>

    <insert id="insertCategory" parameterType="categoryVO">
        INSERT INTO category (category_name_id, category_name) select #{category_name_id},#{category_name} from dual
        where not exists (select * from category where category_name_id=#{category_name_id} or category_name=#{category_name})
    </insert>
    <select id="selectCategory_name" resultType="String">
        select category_name from category where category_name_id = #{category_name_id}
    </select>
</mapper>